html {
    height: 98vh;
}

body {
    background-color: lightblue;
    font-family: 'Montserrat';
    flex-direction: column;
    height: inherit;
    display: flex;
}

.container {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
}

.container:hover #logo1 {
    transform: translate(-135%, 0) rotate(-360deg);
    transition: all 1s ease-in-out 0s;
    cursor: default;
}

.container:hover #logo2 {
    transform: translate(195%, 0) rotate(360deg);
    transition: all 1s ease-in-out 0s;
    cursor: default;
}

.container:hover #text {
    transition: all 1s ease-in-out 0s;
    transition-delay: 1s;
    color: #6666ff;
}

#logo1 {
    transition: all 1s ease-in-out 0s;
    position: absolute;
    top:25%; left:32%;
    z-index: 3939;
    
}
#logo2 {
    transition: all 1s ease-in-out 0s;
    position: absolute;
    top:25%; left:32%;
    z-index: 3939;
    
}

#text {
    transition: all 0.5s ease-in-out 0s;
    position: absolute;
    text-align: center;
    left:20%; top:23%;
    font-size: 5vw;
    margin: 10px 0; 
    color: lightblue;
    z-index: 39;
}